.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactH2 {
    font-size: 7rem;
    font-weight: 200;
    margin-bottom: 5rem;
}

.contactLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}

.contactLinks > a {
    text-decoration: none;
    color: inherit;
}

.contactLinks svg{
    width: 7rem;
    height: auto;
}

.contactLinks svg:hover {
    color: black;
    cursor: pointer;
}





